* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --border: 1px solid black;
}
.container {
  min-height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column; 
  justify-content: space-between
}
.header{
  flex-basis: 100%;
  padding: 10px;
  background-color: white;
  border: var(--border);
  display: flex;
  justify-content: center;
}

.content {
  flex: 1 400px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
  align-items: center;
  justify-content: center;
  align-content: center;

}

.item {
  width: 350px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: var(--border);
}

.footer {
  width: 100%;
  border: var(--border);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}